* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(hsl(252, 81%, 6%), hsl(234, 76%, 47%)) fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #e9f7f6;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  height: 260px;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form fieldset {
  border: 2px solid #898d8c;
  margin-bottom: 8px;
  padding: 10px;

}

input[type="text"] {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 25px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.group fieldset {
  width: 44%;
}

legend {
  padding-left: 2px;
  padding-right: 2px;
}
